.header {
    width: 100%;
    background-color: #fed700;
    padding: 12px 0;
    position: relative;
  }
  
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px; /* //80px */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  @media (max-width: 700px) {
    .header__wrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
    }
  }
  
  .header_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  header .user_header {
    grid-column-start: span 3;
    padding-bottom: 5px;
    font-family: Georgia, sans-serif;
  }

  .header_block span~span {
    grid-column-start: span 2;
    padding: 10px 0 2px;
  }

  .header_no_search span {
    margin-right: 28px;
  }
  
  .header_no_search {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

/* //------ */

  .profile {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    align-items: flex-end;
  }
  
  .iconsMenu {
    display: flex;
  }
  
  .favouritesLink {
    position: relative;
    width: 34px;
    height: 34px;
  }
  
  .iconsMenu svg {
    width: 100%;
    height: 100%;
  }
  
  .iconBubble {
    background-color: #01A54E;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 14px;
    width: 22px;
    height: 22px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 60%;
    left: 70%;
  }